#title {
  position: relative;
}

.blog-hero {
  max-width: 650px;
  position: absolute;
  top: 40px;
}

.main-heading {
  margin-top: 40px;
  margin-bottom: 40px;
}

#blog {
  text-align: center;
}

.blog-row {
  text-align: left;
  margin-bottom: 40px;
}

.blog-container {
  width: 80%;
}

.blog-img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.blog-text {
  color: #707070;
  margin-bottom: 20px;
}

.blog-heading {
  margin-top: 40px;
  margin-bottom: 40px;
}

.blog-link {
  color: #0B39FA;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.blog-link:hover {
  color: #FF4423;
}

.blog-link svg {
  fill: #0B39FA;
  width: 15px;
  margin-left: 20px;
}

.blog-link svg:hover {
  fill: #FF4423;
}

.blog-link:hover {
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  #title .container-fluid {
    padding: 12% 15% 20% 15%;
  }
}

@media screen and (max-width: 991px) {
  #title {
    text-align: center;
  }

  .blog-hero {
    position: static;
    margin-top: 40px;
  }

  .blog-col {
    margin-top: 80px;
  }
}

@media screen and (max-width: 575px) {
  .main-heading {
    font-size: 2.25rem;
  }

  .read-more-link {
    font-size: 1rem;
  }

  svg {
    width: 20px;
  }
}