.blog-main-heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-main-heading {
  font-size: 60px !important;
}

#blog {
  text-align: center;
}

.blog-row {
  text-align: left;
  margin-bottom: 80px;
}

.blog-container {
  width: 80%;
}

.blog-img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.blog-text {
  color: #707070;
  margin-bottom: 10px;
}

.blog-heading {
  margin-top: 40px;
  margin-bottom: 10px;
}

.blog-link {
  color: #0B39FA;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.blog-link:hover {
  color: #FF4423;
}

.blog-link svg {
  fill: #0B39FA;
  width: 15px;
  margin-left: 4px;
}

.blog-link svg:hover {
  fill: #FF4423;
}

.blog-link:hover {
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  #title .container-fluid {
    padding: 5% 15% 5% 15%;
  }
}

@media screen and (max-width: 991px) {
  #title {
    text-align: center;
  }

  .blog-hero {
    position: static;
    margin-top: 40px;
  }

  .blog-col {
    margin-top: 80px;
  }
}

@media screen and (max-width: 575px) {
  .blog-main-heading {
    font-size: 2.25rem !important;
  }

  .read-more-link {
    font-size: 1rem;
  }

  svg {
    width: 20px;
  }
}